.Dockerfile.swp
Dockerfile.save
..gitignore.swp
.README.md.swp

# Directory-based project format:
.idea/
classes/

# File-based project format:
*.iml

# IntelliJ
/out/
jmeter.log

# mpeltonen/sbt-idea plugin
.idea_modules/
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
